<!DOCTYPE html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Gym Template">
    <meta name="keywords" content="Gym, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>BeautyNails</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/flaticon.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/barfiller.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Section Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
        <div class="canvas-close">
            <i class="fa fa-close"></i>
        </div>
        <div class="canvas-search search-switch">
            <i class="fa fa-search"></i>
        </div>
        <nav class="canvas-menu mobile-menu">
            <ul>
                <li><a href="beautyNeils">Главная</a></li>
                <li><a href="beautyNeils/info">beauty neils</a></li>
                <li><a href="beautyNeils/services">Services</a></li>
                <li><a href="beautyNeils/contact">Контакты</a></li>
                <li><a href="beautyNeils/gallery">Галерея</a>

                <li><a><i class="fa fa-user"></i></a>
                    <ul class="dropdown">
                        <li><a th:if="${!jwtInfo.flag}" th:text="Авторизация" href="beautyNeils/register"></a></li>
                        <li><a th:if="${jwtInfo.flag}" th:text="${jwtInfo.getUsername()}"></a></li>
                        <li><a><i class="fa fa-sign-out"></i></a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div id="mobile-menu-wrap"></div>
        <div class="canvas-social">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-youtube-play"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
    <!-- Offcanvas Menu Section End -->

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3">
                    <div class="logo">
                        <a href="./index.html">
                            <img src="/img/logo.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <nav class="nav-menu">
                        <ul>
                            <li><a href="beautyNeils">Главная</a></li>
                            <li><a href="beautyNeils/info">beauty neils</a></li>
                            <li><a href="beautyNeils/services">Services</a></li>
                            <li><a href="beautyNeils/contact">Контакты</a></li>
                            <li><a href="beautyNeils/gallery">Галерея</a></li>

                            <li><a><i class="fa fa-user"></i></a>
                                <ul class="dropdown">
                                    <li><a th:if="${!jwtInfo.flag}" th:text="Авторизация" href="beautyNeils/register"></a></li>
                                    <li><a th:if="${jwtInfo.flag}" th:text="${jwtInfo.getUsername()}"></a></li>
                                    <li><a><i class="fa fa-sign-out"></i></a></li>
                                </ul>
                            </li>

                        </ul>
                    </nav>
                </div>

                <div class="col-lg-3">
                    <div class="top-option">
                        <div class="to-search user">
                            <a href="beautyNeils/register" target="_blank"><i class="fa fa-map"></i></a>
                        </div>

                        <div class="to-social">
                            <a href="https://t.me/manikuromsk55/84" target="_blank"><i class="fa fa-telegram"></i></a>
                            <a href="https://www.instagram.com/manikiuromsk8/profilecard/?igsh=Z2ZqenIxNnFhM2d6"><i class="fa fa-instagram"></i></a>
                            <a href="https://vk.com/id551796499"><i class="fa fa-vk"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="canvas-open">
                <i class="fa fa-bars"></i>
            </div>
        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
    <section class="hero-section">
        <div class="hs-slider owl-carousel">
            <div class="hs-item set-bg" data-setbg="/img/hero/firstHero.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6">
                            <div class="hi-text">
                                <span>?</span>
                                <h1>? <strong>?</strong> ? </h1>
                                <a href="https://dikidi.ru/#widget=176077" class="primary-btn">?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hs-item set-bg" data-setbg="/img/hero/secondHero.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 offset-lg-6">
                            <div class="hi-text">
                                <span>?</span>
                                <h1>? <strong> ?</strong> ?</h1>
                                <a href="#" class="primary-btn">?</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- ChoseUs Section Begin -->
    <section class="choseus-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Почему стоит выбрать нас?!</span>
                        <h2>Потому что!</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-034-stationary-bike"></span>
                        <h4>Сюда</h4>
                        <p>Текст</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-033-juice"></span>
                        <h4>Туда</h4>
                        <p>Текст</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-002-dumbell"></span>
                        <h4>Ещё</h4>
                        <p>Текст</p>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="cs-item">
                        <span class="flaticon-014-heart-beat"></span>
                        <h4>Текст</h4>
                        <p>Текст</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ChoseUs Section End -->

    <!-- Classes Section Begin -->
    <section class="classes-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>наши услуги</span>
                        <h2>что мы можем вам преложить</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img src="/img/classes/class-1.jpg" alt="">
                        </div>
                        <div class="ci-text">
                            <span>Моникюр</span>
                            <h5>?</h5>
                            <a href="#"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img src="/img/classes/class-2.jpg" alt="">
                        </div>
                        <div class="ci-text">
                            <span>Педикюр</span>
                            <h5>?</h5>
                            <a href="#"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img src="/img/classes/class-3.jpg" alt="">
                        </div>
                        <div class="ci-text">
                            <span>?</span>
                            <h5>? </h5>
                            <a href="#"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img src="/img/classes/class-4.jpg" alt="">
                        </div>
                        <div class="ci-text">
                            <span>?</span>
                            <h4>?</h4>
                            <a href="#"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="class-item">
                        <div class="ci-pic">
                            <img src="/img/classes/class-5.jpg" alt="">
                        </div>
                        <div class="ci-text">
                            <span>?</span>
                            <h4>?</h4>
                            <a href="#"><i class="fa fa-angle-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ChoseUs Section End -->

    <!-- Banner Section Begin -->
    <section class="banner-section set-bg" data-setbg="/img/banner-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="bs-text">
                        <h2>?</h2>
                        <div class="bt-tips">Описание</div>
                        <a href="#" class="primary-btn  btn-normal">Забрать бабки</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner Section End -->

    <!-- Pricing Section Begin -->
    <section class="pricing-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>?</span>
                        <h2>?</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-4 col-md-8">
                    <div class="ps-item">
                        <h3>Вот столько</h3>
                        <div class="pi-price">
                            <h2>$ 39.0</h2>
                            <span>подсказка</span>
                        </div>
                        <ul>
                            <li>Текст</li>
                            <li>Для</li>
                            <li>Прогрева</li>
                            <li>На баки</li>
                            <li>Или</li>
                            <li>Описание услуги</li>
                        </ul>
                        <a href="#" class="primary-btn pricing-btn">Прогрев</a>
                        <a href="#" class="thumb-icon"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="ps-item">
                        <h3>Бабок</h3>
                        <div class="pi-price">
                            <h2>$ 99.0</h2>
                            <span>для</span>
                        </div>
                        <ul>
                            <li>?</li>
                            <li>?</li>
                            <li>?</li>
                            <li>?</li>
                            <li>?</li>
                            <li>?</li>
                        </ul>
                        <a href="#" class="primary-btn pricing-btn">Прогрев</a>
                        <a href="#" class="thumb-icon"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="ps-item">
                        <h3>Отдашь</h3>
                        <div class="pi-price">
                            <h2>$ 59.0</h2>
                            <span>ходячего кошелька</span>
                        </div>
                        <ul>
                            <li>?</li>
                            <li>?</li>
                            <li>?</li>
                            <li>?</li>
                            <li>?</li>
                            <li>?</li>
                        </ul>
                        <a href="#" class="primary-btn pricing-btn">Прогрев</a>
                        <a href="#" class="thumb-icon"><i class="fa fa-picture-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!--     Pricing Section End -->

<!--     Gallery Section Begin-->
    <div class="gallery-section">
        <div class="gallery">
            <div class="grid-sizer"></div>
            <div class="gs-item grid-wide set-bg" data-setbg="/img/gallery/gallery-1.jpg">
                <a href="/img/gallery/gallery-1.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="/img/gallery/gallery-2.jpg">
                <a href="/img/gallery/gallery-2.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="/img/gallery/gallery-3.jpg">
                <a href="/img/gallery/gallery-3.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="/img/gallery/gallery-4.jpg">
                <a href="/img/gallery/gallery-4.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item set-bg" data-setbg="/img/gallery/gallery-5.jpg">
                <a href="/img/gallery/gallery-5.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
            <div class="gs-item grid-wide set-bg" data-setbg="/img/gallery/gallery-6.jpg">
                <a href="/img/gallery/gallery-6.jpg" class="thumb-icon image-popup"><i class="fa fa-picture-o"></i></a>
            </div>
        </div>
    </div>
<!--     Gallery Section End-->

    <!-- Team Section Begin -->
    <section class="team-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="team-title">
                        <div class="section-title">
                            <span>Довольные клиеты!</span>
                            <h2>?</h2>
                        </div>
                        <a href="#" class="primary-btn btn-normal appoinment-btn">?</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="ts-slider owl-carousel">
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" data-setbg="/img/team/team-1.jpg">
                            <div class="ts_text">
                                <h4>?</h4>
                                <span>Текст для убеждения</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" data-setbg="/img/team/team-2.jpg">
                            <div class="ts_text">
                                <h4>?</h4>
                                <span>Вопросов 0</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" data-setbg="/img/team/team-3.jpg">
                            <div class="ts_text">
                                <h4>?</h4>
                                <span>Уже рука в карман тянется</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" data-setbg="/img/team/team-4.jpg">
                            <div class="ts_text">
                                <h4>?</h4>
                                <span>Вводит пароль от карты</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" data-setbg="/img/team/team-5.jpg">
                            <div class="ts_text">
                                <h4>?</h4>
                                <span>Почти готово</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="ts-item set-bg" data-setbg="/img/team/team-6.jpg">
                            <div class="ts_text">
                                <h4>?</h4>
                                <span>Звон падающих монет</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team Section End -->

    <!-- Get In Touch Section Begin -->
    <div class="gettouch-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-map-marker"></i>
                        <p>Братская ул., 11/1<br/> Омск</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text">
                        <i class="fa fa-mobile"></i>
                        <ul>
                            <li>?</li>
                            <li>Телефон... ещё 1</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="gt-text email">
                        <i class="fa fa-envelope"></i>
                        <p>Почта</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Get In Touch Section End -->

    <!-- Footer Section Begin -->
    <section class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="fs-about">
                        <div class="fa-logo">
                            <a href="#"><img src="/img/logo.png" alt=""></a>
                        </div>
                        <p>?</p>
                        <div class="fa-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa  fa-envelope-o"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="fs-widget">
                        <h4>Ссылки</h4>
                        <ul>
                            <li><a href="#">?</a></li>
                            <li><a href="#">?</a></li>
                            <li><a href="#">?</a></li>
                            <li><a href="#">?</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-6">
                    <div class="fs-widget">
                        <h4>Помощь</h4>
                        <ul>
                            <li><a href="#">Логин</a></li>
                            <li><a href="#">Мой аккаунт</a></li>
                            <li><a href="#">Подписка</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="fs-widget">
                        <h4>Статьи твои</h4>
                        <div class="fw-recent">
                            <h6><a href="#">Текст</a></h6>
                            <ul>
                                <li>3 минуты на чтение</li>
                                <li>20 коментариев</li>
                            </ul>
                        </div>
                        <div class="fw-recent">
                            <h6><a href="#"></a></h6>
                            <ul>
                                <li>3 минуты на чтение</li>
                                <li>20 коментариев</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="copyright-text">
                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  ?&copy;<script>document.write(new Date().getFullYear());</script> ? <i class="fa fa-heart" aria-hidden="true"></i> ? <a href="" target="_blank">?</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer Section End -->

    <!-- Search model Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search model end -->

    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/masonry.pkgd.min.js"></script>
    <script src="/js/jquery.barfiller.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>



</body>

</html>